@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

:root {
    --nav-bg: rgb(255, 255, 255);
    --hover-bg: rgb(225, 225, 225);
    --text-gray: rgb(120, 120, 120);
    --text-blue: #0095F6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    gap: 5rem;
}

#sidebar-1160 {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    row-gap: 40px;
    width: 250px;
    height: 100vh;
    background-color: var(--nav-bg);
    border-right: 1px groove rgb(199, 199, 199);
    padding: 2rem 3rem 5rem 1rem;
}

.top-bar,
.bottom-bar {
    display: none;
}



.sidebar .mid,
.sidebar .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sidebar .bottom {
    padding-bottom: 3rem;
}

.sidebar a {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a>img {
    width: 23px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.sidebar a:hover,
.sidebar a:active {
    background-color: var(--hover-bg);
}

.sidebar a:hover>img {
    transform: scale(1.1);
}

.sidebar .top img:hover {
    cursor: pointer;
}


.main-content {
    padding: 1rem;
    width: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}

.stories-container {
    position: relative;
    width: 680px;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.stories-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story:hover {
    cursor: pointer;
}

.story .img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 176, 31), rgb(255, 29, 29), rgb(246, 3, 246));
    padding: 2px;
}

.story img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.story p {
    font-size: 0.65rem;
    text-align: center;
    overflow-x: hidden;
}

.post-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1rem;
}

.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-head>*:hover {
    cursor: pointer;
}

.post-head-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.post-head-left img {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 50%;
}



.post-head-left>p,
.post .likes,
.post .caption span {
    font-size: 14px;
    font-weight: 600;
}

.post-head-left>span {
    font-weight: normal;
    font-size: 16px;
    color: rgb(120, 120, 120);
}

.post-img,
.post-img img {
    width: 100%;
    border-radius: 5px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-icons img {
    width: 23px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.post-icons img:hover {
    cursor: pointer;
}

.post-icons-left {
    display: flex;
    gap: 1rem;
}

.post .caption,
.post .comments {
    font-size: 14px;
}

.post .comments,
.post hr {
    color: rgb(120, 120, 120);
    text-decoration: none;
}

.post input {
    border: none;
}

.post input:focus {
    outline: none;
}


.suggestions-container {
    padding: 1.5rem 6rem 1rem 1rem;
    width: 30%;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container .left-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-container .left-items .username {
    font-size: 14px;
    font-weight: 600;
}

.profile-container .left-items .name {
    color: var(--text-gray);
    font-size: 14px;
}

.blue-text {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-blue);
}

.blue-text:hover {
    cursor: pointer;
    color: #2f4c5f;
}



.profile-container .left-items img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.profile-container .profile-info {
    display: flex;
    flex-direction: column;
}

.suggested-for-you {
    display: flex;
    justify-content: space-between;
}

.suggested-for-you p {
    font-size: 13px;
    font-weight: 600;
}

.suggested-for-you p a{
    text-decoration: none;
    color: black;
}

.suggested-for-you p a:hover{
    color: var(--text-gray);
}

.suggested-for-you p a:visited{
    color: black;
}

.suggested-for-you p a:visited:hover{
    color: var(--text-gray) ;
}

.suggested-for-you .gray,
.suggested-for-you .black:hover {
    color: var(--text-gray);
}

.suggested-for-you .black:hover {
    cursor: pointer;
}

.suggestions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}

.suggestion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-item .left-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.suggestion-item .left-items .username {
    font-size: 13px;
    font-weight: 600;
}

.suggestion-item .left-items .name {
    color: var(--text-gray);
    font-size: 12px;
}

.suggestion-item .left-items img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.left-items img:hover,
.left-items .username:hover {
    cursor: pointer;
}

.suggestions-container .bottom-text {
    color: #c7c7c7;
    font-size: 11.5px;
}

.suggestions-container .bottom-text span:hover {
    cursor: pointer;
    text-decoration: underline;
}











/* dialog box css */
.modal {
    width: 500px;
    height: 550px;
    border: none;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.modal button {
    position: absolute;
    top: 15px;
    left: 470px;
    background-color: transparent;
    border: none;
}

.modal button:hover {
    cursor: pointer;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.7);
}

.modal .centre-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.modal .centre-content .normal {
    font-size: larger;
}

.modal .centre-content .blue {
    color: white;
    background-color: #0095F6;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: smaller;
    font-weight: bold;
}

.modal .centre-content .blue:hover {
    cursor: pointer;
    background-color: #036fb7;
}










/* media queries */

@media only screen and (max-width: 1160px) {
    .suggestions-container {
        display: none;
    }

    .main-content {
        margin: auto;
        z-index: -1;
    }

    #sidebar-1160 {
        display: flex;
    }

    #sidebar-1160 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        row-gap: 40px;
        height: 100vh;
        background-color: var(--nav-bg);
        border-right: 1px groove rgb(199, 199, 199);
        padding: 8rem 3rem 5rem 1rem;
    }

    #sidebar-1160 a {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        align-items: baseline;
        color: black;
        padding: 10px auto;
        border-radius: 5px;
        width: 40px;
    }

    #sidebar-1160 a>img {
        width: 23px;
        height: 23px;
        transition: transform 0.2s ease-in-out;
    }

    #sidebar-full {
        display: none;
    }

}






@media only screen and (max-width: 767px) {

    #sidebar-1160 {
        display: none;
    }

    .top-bar {
        position: fixed;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        border-bottom: 1px groove rgb(199, 199, 199);
    }

    .top-bar #create {
        display: none;
    }

    .top-bar .logo {
        position: relative;
        width: 140px;
        height: 40px;
        padding: 0 15px;
    }

    .top-bar .logo img {
        position: absolute;
        width: 120px;
        height: 100%;
    }

    .top-bar .right-side {
        padding-right: 50px;
        display: flex;
        align-items: center;
        gap: 1rem;
        z-index: 5;
    }

    .top-bar .right-side a {
        display: flex;
    }


    .top-bar input {
        background-color: rgb(239, 239, 239);
        color: rgb(115, 115, 115);
        width: 268px;
        height: 36px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        font-weight: 200;
        padding-left: 10px;
        outline: none;
    }


    .bottom-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        align-items: center;
    }

    .bottom-bar img {
        width: 23px;
        height: 23px;
        transition: transform 0.2s ease-in-out;
    }

    .bottom-bar a:hover {
        cursor: pointer;
    }

    .bottom-bar a:hover img {
        cursor: pointer;
        transform: scale(1.1);
    }

    .main-content {
        margin: 65px auto 0 auto;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stories-container {
        position: relative;
        display: flex;
        gap: 1rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .post-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .modal {
        width: 350px;
        height: 400px;
        border: none;
        margin: 100px auto;
        text-align: center;
        border-radius: 10px;
        position: relative;
        overflow-y: hidden;
    }

    .modal button {
        position: absolute;
        top: 3.3%;
        left: 92%;
        background-color: transparent;
        border: none;
    }

    .modal button:hover {
        cursor: pointer;
    }

    .modal::backdrop {
        background: rgb(0 0 0 / 0.7);
    }

    .modal .centre-content {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }


    .modal .centre-content .blue {
        color: white;
        background-color: var(--text-blue);
        border-radius: 5px;
        padding: 5px 10px;
        font-size: smaller;
        font-weight: bold;
    }

    .modal .centre-content .blue:hover {
        cursor: pointer;
        background-color: #036fb7;
    }

}





@media only screen and (max-width: 480px) {

    .top-bar .right-side {
        padding-right: 20px;
        display: flex;
        align-items: center;
        gap: 1rem;
        z-index: 5;
    }

    .top-bar input {
        display: none;
    }

    .top-bar #create {
        display: flex;
    }

    .bottom-bar .open-button {
        display: none;
    }

    .post-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .main-content {
        margin: 65px 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .post-head,
    .post-icons {
        padding: 0 20px 0 7px;
    }

    .post>p,
    .post>a,
    .post>input {
        padding-left: 7px;
    }

}