@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');


:root {
    --nav-bg: rgb(255, 255, 255);
    --hover-bg: rgb(225, 225, 225);
    --text-gray: rgb(120, 120, 120);
    --text-blue: #0095F6;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    row-gap: 40px;
    width: 250px;
    height: 100vh;
    background-color: var(--nav-bg);
    border-right: 1px groove rgb(199, 199, 199);
    padding: 2rem 3rem 5rem 1rem;
}


.sidebar .mid,
.sidebar .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sidebar .bottom {
    padding-bottom: 3rem;
}

.sidebar a {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a>img {
    width: 23px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.sidebar a:hover,
.sidebar a:active {
    background-color: var(--hover-bg);
}

.sidebar a:hover>img {
    transform: scale(1.1);
}

.sidebar .top img:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
}

.reels {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-top: 20px;
    margin-left: 10vw;
}


.reel-container {
    scroll-snap-align: start;
    display: flex;
    width: 400px;
    height: 657px;
    margin: 20px auto;
    column-gap: 1.5rem;
}

.video-container {
    position: relative;
    height: 657px;
    width: 369.562px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.video-container .content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 95%;
    position: absolute;
    top: 84%;
    left: 10px;
    color: white;
}

.video-container .content .bold {
    font-weight: 600;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.video-container .content .bold:hover {
    cursor: pointer;
}

.video-container .content .bold .follow {
    border: 0.5px solid white;
    padding: 5px 10px;
    border-radius: 10px;
}

.video-container .content .bold img {
    border-radius: 50%;
}

.video-container .content p {
    font-size: small;
}

video {
    border-radius: 10px;
    height: 657px;
    width: 369.562px;
}

.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1.5rem;
}

.icons-container>*:hover {
    cursor: pointer;
}

.reel-container img {
    width: 23px;
    height: auto;
}

.icons-container p {
    font-size: 12px;
}

.music,
.music img {
    border-radius: 5px;
}









/* dialog box css */
.modal {
    width: 500px;
    height: 550px;
    border: none;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.modal button {
    position: absolute;
    top: 15px;
    left: 470px;
    background-color: transparent;
    border: none;
}

.modal button:hover {
    cursor: pointer;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.7);
}

.modal .centre-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.modal .centre-content .normal {
    font-size: larger;
}

.modal .centre-content .blue {
    color: white;
    background-color: #0095F6;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: smaller;
    font-weight: bold;
}

.modal .centre-content .blue:hover {
    cursor: pointer;
    background-color: #036fb7;
}








/* media queries */

#sidebar-1160 {
    display: none;
}


@media only screen and (max-width: 1160px) {
    .suggestions-container {
        display: none;
    }

    .main-content {
        margin: auto;
        z-index: -1;
    }

    #sidebar-1160 {
        display: flex;
    }

    #sidebar-1160 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        row-gap: 40px;
        height: 100vh;
        background-color: var(--nav-bg);
        border-right: 1px groove rgb(199, 199, 199);
        padding: 8rem 3rem 5rem 1rem;
    }

    #sidebar-1160 a {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        align-items: baseline;
        color: black;
        padding: 10px auto;
        border-radius: 5px;
        width: 40px;
    }

    #sidebar-1160 a>img {
        width: 23px;
        height: 23px;
        transition: transform 0.2s ease-in-out;
    }

    #sidebar-full {
        display: none;
    }

}