@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

:root {
    --nav-bg: rgb(255, 255, 255);
    --hover-bg: rgb(225, 225, 225);
    --text-gray: rgb(120, 120, 120);
    --text-blue: #0095F6; 
}

h1, h2, h3, h4, h5, h6, p, span, li {
    font-family: 'Poppins', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
}



/*--------- Left Panel ------------ */

/* .left-panel{
    height: 100vh;
    width: 300px;
    max-width: 100%;
} */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    row-gap: 50px;
    width: 250px;
    height: 100vh;
    background-color: var(--nav-bg);
    border-right: 1px groove rgb(199, 199, 199);
    padding: 2rem 3rem 5rem 1rem;
}


.sidebar .mid,
.sidebar .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sidebar .bottom {
    padding-bottom: 3rem;
}

.sidebar a {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a>img {
    width: 23px;
    height: auto;
    transition: transform 0.2s ease-in-out;
    /* border-radius: 50%; */
}

.sidebar a>.profile-mini{
    border: 2px solid rgb(59, 59, 59);
    border-radius: 50%;
    padding: 0.5px;
    height: 27px; 
    width: 27px;
}
/* .profile-mini{
    width: 25px;
    height: 25px;
    
} */

.sidebar a:hover,
.sidebar a:active {
    background-color: var(--hover-bg);
}

.sidebar a:hover>img {
    transform: scale(1.1);
}

.sidebar .top img:hover {
    cursor: pointer;
}



/*---------- Profile Section ----------- */



.right-container{
    width: 100%;
    max-width: calc(100% - 300px);
}

.right-panel{
    width:900px ;
    height: 90%;
    margin-left: 550px;
    margin-top: 1rem;
}

.insta-profile{
    width: 900px;
    height: 220px;
    display: flex;
}

.insta-profile .img{
    width: 150px;
    height: 150px;
    margin-top: 32px;
    border-radius: 50%;
    margin-left: 65px;
    border: 2px solid rgba(219, 219, 219, 1);
    padding: 4px;
    
}

.insta-details{
    margin-left: 80px;
}

.id-details{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    width: 550px;
    height: 2rem;
}

.id-details h2{
    font-size: 1rem;
    padding:  5px 0 0 0;
}

.id-details img{
    width: 22px;
    height: 22px;
    margin: 3px 15px 0px 15px;
}

.btn{ 
    width: 120px;
    height: 30px;
    border-radius: 8px;
    overflow:visible;
    border-color: lightgrey;
    margin-left: 12px;
    padding: 5px 5px;
    border: none; 
    font-weight: bold; 
    font-size: 0.8rem;  
}

.btn:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.followers{
    margin-top: 10px;
}

.followers ul{
    display: flex;
    list-style: none;
}

.followers li{
    margin-right: 2.2rem;
    margin-top: 1rem;
    padding-right: 10px;
}

.name-bio{
    margin-top: 15px;
}

.name-bio .bio{
    margin-top: 10px;
    display: block;
}

.name-bio img{
    margin-bottom: 40px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: 0;
    padding: 0;
}

.name-bio p{
    margin-top: 10px;
}

hr{
    margin-top: 70px;
}


/* Post-Navbar Area */


.posting-navbar{
    width: 900px;
    height: auto;
}

.posting-navbar ul{
    display: flex;
    text-align: center;
    justify-content: center;
}

.posting-navbar ul li{
    list-style: none;
    padding: 10px;
    padding-left: 0;
    margin-right: 50px;
}

.posting-navbar ul li:nth-child(1){
    border-top: 1px solid black;
}

.posting-navbar img{
    width: 15px;
    vertical-align: middle;
}




/* Posts and tags and reels Area */



.posts{
    margin-top: 10px;
    width: 900px;
    height: auto;
    
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item{
    margin: 10px;
    column-gap: 10px;
    overflow: scroll;
}

.post-images{
    position: relative;
    width: 300px;
    width: 300px;
}


.after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.post-images .after .likes{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 130px 75px;
    text-align: center;
}

.likes p{
    margin: 10px;
    color: white;
    font-weight: bold;
}

.like-img{
    width: 22px;
    vertical-align: middle;
}

.like-text{
    font-size: 1rem;
    vertical-align: middle;
}

.gridimg{
    width: 295px;
    height: 300px;
    column-gap: 10px;
}

.after:hover{
    opacity: 1;
    background-color: #0000006b;
    height: 300px;
    width: 295px;
}

.grid-item:hover{
    color-interpolation-filters: rgb(184, 177, 177) ;
}





/* Footer Area */



.footer{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}

.footer ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    
}

.footer ul li{
    list-style: none;
    padding: 10px;
}

.footer ul li a{
    text-decoration: none;
    color: #808080;
}

.footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contacts{
    color: gray;
    margin-top: 10px;
   
}

.copyright{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px; 
    color: gray;
}






