*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    row-gap: 40px;
    width: 180px;
    height: 100vh;
    background-color: var(--nav-bg);
    border-right: 1px groove rgb(199, 199, 199);
    padding: 2rem 3rem 5rem 1rem;
}


.sidebar .mid,
.sidebar .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sidebar .bottom {
    padding-bottom: 3rem;
}

.sidebar a {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a>img {
    width: 23px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.sidebar a:hover,
.sidebar a:active {
    background-color: var(--hover-bg);
}

.sidebar a:hover>img {
    transform: scale(1.1);
}

.sidebar .top img:hover {
    cursor: pointer;
}
body{
    background-color: hsl(0, 100%, 99%);
    color: aliceblue;
}

.container{
    max-width: 70%;
    margin-left: 22vw;
    padding: 0 16px;
    
}

.vdo{
    width: 300px;
    height: 300px;
    display: flex;    
    position: absolute;
    z-index: 15;
    top: 10px;
    right: -260px;
   color: rgb(253, 247, 247);
    transition: transform 0.3s;
}


.project-grid{
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "eth alphabet traveler"
    "eth astro cube"
    "cup insta foam"
    "dimensional insta foam"
    "a b c"
    "d e f"
    "g h f"
    "i j k"
    "i l m"
    "n o m"
    "a1 b1 c1"
    "d1 g1 e1"
    "f1 g1 h1"
    "i1 j1 k1"
    "i1 l1 m1"
    "n1 o1 p1"
    "q1 t1 r1"
    "s1 t1 u1";
   
}  
   
#eth{
    grid-area: eth;
}
#alphabet{
    grid-area: alphabet;
}
#traveler{
    grid-area: traveler;
}
#astro{
    grid-area: astro;
}
#cube{
    grid-area: cube;
}
#cup{
    grid-area: cup;
}
#insta{
    grid-area: insta;
}
#foam{
    grid-area: foam;
}
#dimensional{
    grid-area: dimensional;

}
#a{
    grid-area: a;
  

}
#b{
    grid-area: b;
  

}
#c{
    grid-area: c;
  

}
#d{
    grid-area: d;
  

}
#e{
    grid-area: e;
}
#f{
    grid-area: f;
  

}
#g{
    grid-area: g;
  

}
#h{
    grid-area: h;
  

}
#i{
    grid-area: i;
  

}
#j{
    grid-area: j;
  

}
#k{
    grid-area: k;
  

}
#l{
    grid-area: l;
  

}
#m{
    grid-area: m;
  

}
#n{
    grid-area: n;
  

}
#o{
    grid-area: o;
  

}

#a1{
    grid-area: a1;
  

}

#b1{
    grid-area: b1;
  

}

#c1{
    grid-area: c1;
  
}

#d1{
    grid-area:d1;
  

}

#e1{
    grid-area: e1;
  

}
#f1{
    grid-area: f1;
  

}

#g1{
    grid-area: g1;
  

}

#h1{
    grid-area: h1;
  

}

#i1{
    grid-area: i1;
  

}

#j1{
    grid-area: j1;
  

}

#k1{
    grid-area: k1;
  

}

#l1{
    grid-area: l1;
  

}

#m1{
    grid-area: m1;
  

}

#n1{
    grid-area: n1;
  

}

#o1{
    grid-area: o1;
  

}

#p1{
    grid-area: p1;
  

}

#q1{
    grid-area: q1;
  

}

#r1{
    grid-area: r1;
  

}
#s1{
    grid-area: s1;
  

}

#t1{
    grid-area: t1;
  

}

#u1{
    grid-area: u1;
  

}




.project{
    /* width: 600px; */
    position: relative;
}
.project img{
    width: 100%;
    height: 100%;
}

.project .overlay{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    color: rgb(224, 216, 216);
    transition: all 0.2s ease;

}
.project .overlay:hover{
    opacity: 1;
    cursor: pointer;


}


@media only screen and (max-width: 1160px) {
    .suggestions-container {
        display: none;
    }

    .main-content {
        margin: auto;
        z-index: -1;
    }

    #sidebar-1160 {
        display: flex;
    }

    #sidebar-1160 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        row-gap: 40px;
        height: 100vh;
        background-color: var(--nav-bg);
        border-right: 1px groove rgb(199, 199, 199);
        padding: 8rem 3rem 5rem 1rem;
    }

    #sidebar-1160 a {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        align-items: baseline;
        color: black;
        padding: 10px auto;
        border-radius: 5px;
        width: 40px;
    }

    #sidebar-1160 a>img {
        width: 23px;
        height: 23px;
        transition: transform 0.2s ease-in-out;
    }

    #sidebar-full {
        display: none;
    }

}







/* dialog box css */
.modal {
    width: 500px;
    height: 550px;
    border: none;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.modal button {
    position: absolute;
    top: 15px;
    left: 470px;
    background-color: transparent;
    border: none;
}

.modal button:hover {
    cursor: pointer;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.7);
}

.modal .centre-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.modal .centre-content .normal {
    font-size: larger;
}

.modal .centre-content .blue {
    color: white;
    background-color: var(--text-blue);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: smaller;
    font-weight: bold;
}

.modal .centre-content .blue:hover {
    cursor: pointer;
    background-color: #036fb7;
}

    
    